//Week 2
#example-3 {

	#contact {
	  background: #efefef;
	  border: 1px #999 dotted;
	  padding: 20px;
	  margin: 20px;
	}

}

#example-5, #example-6 {

	.secret {
	  display: none;
	}

	.active {
	  border: 4px #f7b733 solid;
	}

	#contact {
	  background: #efefef;
	  border: 1px #999 dotted;
	  padding: 20px;
	  margin: 20px;
	}

}
form {
	.content-container {
		padding: 1rem;
	}
	.secret {
	  display: none;
	}

	.active {
	  border: 4px #f7b733 solid;
	}

	#main-contact input[type="submit"],
	#main-contact input[type="reset"] {
	  background: green;
	  border: green;
	  color: white;
	  font-size: 1rem;
	  padding: 10px;
	}

	#main-contact input[type="reset"] {
	  background: red;
	  border: red;
	}

	button.help {
	  background: #fff;
	  border: 1px #ddd solid;
	  padding: 5px;
	  border-radius: 2px;
	}

	button.help:hover {
	  cursor: pointer;
	  border-color: #ccc;
	}

	.button {
	  background-color: #fff;
	  border: 1px #ddd solid;
	  color: inherit;;
	  display: inline-block;
	  padding: 5px;
	  text-decoration: none;
	}

	.button:hover {
	  background-color: #f7b733;
	  border-color: #777;
	}

}

#example-8 {
	body {
	  background: #efefef;
	  text-align: center;
	}

	h1 {
	  font-size: 200%;
	  font-family: sans-serif;
	}

	a {
	  padding: 0 2px;
	}

	a:after {
	  content: ' >';
	}


	a:hover {
	  background-color: yellow;
	}


	.content {
	  background: #fff;
	  border: 1px #ddd solid;
	  padding: 20px;
	  margin: 20px;
	}

	button.help {
	  background: #fff;
	  border: 1px #ddd solid;
	  padding: 5px;
	  border-radius: 2px;
	}

	button.help:hover {
	  cursor: pointer;
	  border-color: #ccc;
	}

	.button {
	  background-color: #fff;
	  border: 1px #ddd solid;
	  color: inherit;;
	  display: inline-block;
	  padding: 5px;
	  text-decoration: none;
	}

	.button:hover {
	  background-color: #f7b733;
	  border-color: #777;
	}

}
